.video__picture {
  position: relative;
  background: @picture-video;
  height: 150px;

  .size-mixin(260px);

  .video__picture::after {
    position: absolute;
    content: "";
    top: 40px;
    left: 80px;
    background: @icon-play;
    height: 80px;

    .size-mixin(100px);
  }
}
